<div style="margin-left:65px">
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title:</h2>
<h3>The Manchester United Website is a no-profit organisation. @Environment.NewLine
     It is entirely made for fun! </h3>

<p>Note that any attempts to make profit from this website is going to be taken measures against.</p>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Manchester United Website</p>
    </footer>
</div>