<div style="margin-left: 65px">
    @{
        ViewBag.Title = "Contact us";
    }
    <h2>@ViewBag.Title:</h2>

    <address>
        Plovdiv, Bulgaria<br />
        Str Cpt.Raicho 81<br />
        <abbr title="Phone">P: </abbr>
        +359888061310
    </address>
    <address>
        <strong>Support:</strong>   <a href="https://www.abv.bg/" style="color: silver">arebando@abv.bg</a><br />

    </address>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Manchester United Website</p>
    </footer>
</div>