@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron", style="background-color: #ff2400">
    <h1>Welcome!</h1>
    <p class="lead">The Manchester United website is the place, where you can answer questions concerning the English football team Manchester United.
     @Environment.NewLine If you answer correctly, you gain points. You can unlock information about the club's players by spending these points.</p>
    <p><a href="/../Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Choose a player:</h2>
        
        <p><a href="/../Player/AndyCole" style="color:silver">Andy Cole</a></p>
        <p><a href="/../Player/Charlton" style="color:silver">(Sir) Bobby Charlton</a></p>
        <p><a href="/../Player/Ronaldo" style="color:silver">Cristiano Ronaldo</a></p>
        <p><a href="/../Player/Beckham" style="color:silver">David Beckham</a></p>
        <p><a href="/../Player/Berbatov" style="color:silver">Dimitar Berbatov</a></p>
        <p><a href="/../Player/Mkhitaryan" style="color:silver">Henrikh Mkhitaryan</a></p>
        <p><a href="/../Player/Ibrahimovic" style="color:silver">Zlatan Ibrahimovic</a></p>
        <hr />
        <footer, style="margin-left:200px">
            <p>&copy; @DateTime.Now.Year - Manchester United Website</p>
        </footer,>
        
    </div>
    
</div>