@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron", style="background-color: #ff2400">
    <h1>Welcome!</h1>
    <p class="lead">The Manchester United website is the place, where you can answer questions concerning the English football team Manchester United.
     @Environment.NewLine If you answer correctly, you gain points. You can unlock information about the club's players by spending these points.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-primary btn-lg" href="">Learn more &raquo;</a></p>
    </div>

</div>