@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron", style="background-color: #ff2400">
    <h1>Welcome!</h1>
    <p class="lead">The Manchester United website is the place, where you can answer questions concerning the English football team Manchester United.
     @Environment.NewLine If you answer correctly, you gain points. You can unlock information about the club's players by spending these points.</p>
    <p><a href="http://localhost:50154/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Choose a player:</h2>

        <p><a href="" style="color:white">Andy Cole</a></p>
        <p><a href="" style="color:white">(Sir) Bobby Charlton</a></p>
        <p><a href="" style="color:white">Cristiano Ronaldo</a></p>
        <p><a href="" style="color:white">David Beckham</a></p>
        <p><a href="" style="color:white">Dimitar Berbatov</a></p>
        <p><a href="" style="color:white">Henrikh Mikhitaryan</a></p>
        <p><a href="" style="color:white">Zlatan Ibrahimovic</a></p>
        <hr />
        <footer, style="margin-left:200px">
            <p>&copy; @DateTime.Now.Year - Manchester United Website</p>
        </footer,>
        
    </div>
    
</div>