@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron", style="background-color: #ff2400">
    <h1>Welcome!</h1>
    <p class="lead">The Manchester United website is the place, where you can answer questions concerning the English football team Manchester United.
     @Environment.NewLine If you answer correctly, you gain points. You can unlock information about the club's players by spending these points.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Choose a player:</h2>

        <p>Andy Cole</p>
        <p>(Sir) Bobby Charlton</p>
        <p>Cristiano Ronaldo</p>
        <p>David Beckham</p>
        <p>Dimitar Berbatov</p>
        <p>Zlatan Ibrahimovic</p>

        
    </div>

</div>