@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron", style="background-color: #ff2400">
    <h1>Welcome!</h1>
    <p class="lead">The Manchester United website is the place, where you can upload and read information about your favourite Mancehster 
    United players. You can upload and read anything, all you need to do is to register for free. You can share the site with friends 
    and family - it is completely friendly.</p>
    <p><a href="/Home/LearnMore" class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        
        <hr />
        <footer, style="margin-left:200px">
            <p>&copy; @DateTime.Now.Year - Manchester United Website</p>
        </footer,>
        
    </div>
    
</div>