@{ 
    ViewBag.Title = "Andy Cole";
}
<div class="jumbotron" style="background-color: #ff2400;min-height:850px;">
    <h1 style="text-align:center ">@ViewBag.Title</h1>
    <div class="col-sm-6">
        <p>
            Andy Cole is a prolific goalscorer in the English Premier League who 
            retired as the second-leading scorer in the league's history with 187 goals in a career
            that spanned from 1989 with Arsenal to 2008 with Nottingham Forest.
            He spent one year with Arsenal's youth team before a promotion to the senior
            squad, then after three years and only one appearance with the team, he joined
            Bristol City in 1992 where his career began to take off.
            Despite first being capped for England in 1995, he had earned only 15 caps by the time 
            he announced his retirement from international football after failing to
             be selected for the 2002 World Cup squad. He scored one goal for England,
             in a World Cup qualifying match against Albania in March 2001. 
            He also scored in his single appearance for the England B team.
        </p>
    </div>
    <div style="background-image: url('../../images/andycole.jpg'); 
    background-repeat: no-repeat ; 
    background-size: contain;
    position: absolute;
    float: left;
    clear:left;
    top: 175px;
    right: 400px;
    height: 720px;
    width: 470px;
    ">
    </div>
    
    
    
    
</div>
