@{
    ViewBag.Title = "David Beckham";
}
<div class="jumbotron" style="background-color: #ff2400;min-height:850px;">
    <h1 style="text-align:center ">@ViewBag.Title</h1>
    <div class="col-sm-6">
        <p>
            Having signed for Manchester United as a trainee on 8 July 1991, Beckham was part of a group of young players, 
            including Ryan Giggs, Gary Neville, Phil Neville, Nicky Butt and Paul Scholes, who were coached by Eric Harrison,
             and helped the club win the FA Youth Cup in May 1992. Known as the 'Class of '92', all six players came through
             Manchester United ranks together and went on to be teammates for over a decade. Beckham scored Manchester 
            United's second goal in the 30th minute of their 3–1 first-leg win of the final against Crystal Palace on 14 
            April 1992. In the second leg on 15 May, Beckham played a full 90-minutes of the fixture which ended 3–2 in 
            favour of Manchester United and 6–3 on aggregate. Beckham's impact led to a first-team debut on 23 September 
            1992, as a substitute for Andrei Kanchelskis in a League Cup match against Brighton & Hove Albion. Shortly
             afterwards, Beckham signed as a professional on 23 January 1993.
        </p>
    </div>
    <div style="background-image: url('../../images/beckham.jpg');
    background-repeat: no-repeat ;
    background-size: contain;
    position: absolute;
    float: left;
    clear:left;
    top: 175px;
    right: 400px;
    height: 720px;
    width: 470px;
    ">
    </div>




</div>
