@{
    ViewBag.Title = "Dimitar Berbatov";
}
<div class="jumbotron" style="background-color: #ff2400;min-height:850px;">
    <h1 style="text-align:center ">@ViewBag.Title</h1>
    <div class="col-sm-6">
        <p>
            Berbatov moved to Manchester United on 1 September 2008, costing the club £30.75 million and signing a 
            four-year contract. Tottenham had also accepted a bid from Manchester City, but Berbatov 
            claimed after signing for United that he "would not even have thought about Manchester City".
             He netted his first league goals in Manchester United colours during a 4–0 
            victory over West Bromwich Albion. Alex Ferguson defended Berbatov after he was criticised for missing a 
            penalty during the 2008–09 FA Cup semi-final against Everton, which Manchester United eventually lost by
             a penalty shoot-out. Soon after, Berbatov scored the fifth of United's goals as they came back from 
            2–0 down at half-time to win 5–2 against his former team, Tottenham Hotspur. When Manchester United 
            won the Premier League on 16 May 2009, Berbatov became the first Bulgarian to play in an English Premier
             League title-winning team.
        </p>
    </div>
    <div style="background-image: url('../../images/berbatov.jpg');
    background-repeat: no-repeat ;
    background-size: contain;
    position: absolute;
    float: left;
    clear:left;
    top: 175px;
    right: 400px;
    height: 720px;
    width: 470px;
    ">
    </div>




</div>
