@{
    ViewBag.Title = "(Sir) Bobby Charlton";
}
<div class="jumbotron" style="background-color: #ff2400;min-height:850px;">
    <h1 style="text-align:center ">@ViewBag.Title</h1>
    <div class="col-sm-6">
        <p>
            Sir Robert "Bobby" Charlton CBE (born 11 October 1937) is an English former 
            football player, regarded as one of the greatest midfielders of all time, and 
            an essential member of the England team who won the World Cup in 1966, the 
            year he also won the Ballon d'Or. He played almost all of his club football 
            at Manchester United, where he became renowned for his attacking instincts and
             passing abilities from midfield and his ferocious long-range shot. He was also
             well known for his fitness and stamina. He was cautioned only twice in his career; 
            once against Argentina in the 1966 World Cup, and once in a league match against Chelsea.
             His elder brother Jack, who was also in the World Cup-winning team, is a former defender
             for Leeds United and international manager.
        </p>
    </div>
    <div style="background-image: url('../../images/charlton.jpg');
    background-repeat: no-repeat ;
    background-size: contain;
    position: absolute;
    float: left;
    clear:left;
    top: 175px;
    right: 400px;
    height: 720px;
    width: 470px;
    ">
    </div>




</div>
