@model C_Sharp_Project.Models.Player


<div class="jumbotron" style="background-color: #ff2400; min-height:850px;">
    <h1 style="text-align:center ">@Model.Name Details </h1>
    <div class="col-sm-6">
        <p>
           @Model.Content
        </p>
    </div>
    <div style="background-image: url('@Model.Imgsource');
    background-repeat: no-repeat ;
    background-size: contain;
    position: absolute;
    float: left;
    clear:left;
    top: 175px;
    right: 400px;
    height: 720px;
    width: 470px;
    ">
    </div>

</div>
