@{
    ViewBag.Title = "Zlatan Ibrahimovic";
}
<div class="jumbotron" style="background-color: #ff2400;min-height:850px;">
    <h1 style="text-align:center ">@ViewBag.Title</h1>
    <div class="col-sm-6">
        <p>
            On 1 July 2016, Ibrahimović signed as a free agent 
            for Manchester United on a one-year contract, which 
            had the option of being extended depending on his performance
             for the club. His salary is reported to be £200,000 per week.
             He was handed the number 9 jersey ahead of the 2016–17 season.
            On 7 August, Ibrahimović scored the match-winning goal for Manchester United 
            in the 2016 FA Community Shield, rising above Wes Morgan to head past Leicester
             City goalkeeper Kasper Schmeichel in a 2–1 victory. In his Premier League
             debut one week later, he scored with a long-range strike in the 3–1 away win 
            at Bournemouth on the opening day. On 20 August, he scored both goals; a
             header in the first half and a penalty in the second, to beat Southampton 2–0
             on his home debut for the club. On 6 November, he scored a brace in a 3–1
             away win against Swansea; his first goal of the match was the 25,000th goal in
             Premier League history. He was later booked however, picking up his fifth yellow
             card of the season, ruling him out of Manchester United's league fixture 
            at home against Arsenal on 19 November.
        </p>
    </div>
    <div style="background-image: url('../../images/ibrahimovic.jpg');
    background-repeat: no-repeat ;
    background-size: contain;
    position: absolute;
    float: left;
    clear:left;
    top: 175px;
    right: 400px;
    height: 720px;
    width: 470px;
    ">
    </div>




</div>
