@model List<C_Sharp_Project.Models.Player>
@{
    ViewBag.Title = "List";
}


<div class="jumbotron" , style="background-color: #ff2400">
    <h1>Players</h1>
    <p class="lead">
        Here you can choose from a list of players. You can read fun information about them and their biography. The information
        has either been uploaded by the admin of the website, or a normal user like you. You can do it as well! All you have to do is
        to click the "Upload" button at the top-right corner of the navigation bar.
    </p>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Choose a player:</h2>
        @foreach (var player in Model)
        {
            <p>
                @Html.ActionLink(@player.Name,"Details", "Player", new {id = player.Id}, null)
            </p>
        }
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Manchester United Website</p>
        </footer>
    </div>
</div>