@{
    ViewBag.Title = "Henrikh Mkhitaryan";
}
<div class="jumbotron" style="background-color: #ff2400;min-height:850px;">
    <h1 style="text-align:center ">@ViewBag.Title</h1>
    <div class="col-sm-6">
        <p>
            On 2 July 2016, Dortmund chief executive Hans-Joachim Watzke said that the sale of 
            Mkhitaryan to England's Manchester United would be inevitable as the player would 
            leave for free had he stayed one more year. Four days later, Mkhitaryan joined
             them on a four-year contract for a transfer fee reported variously as between £27 
            million and £30 million, with the option to extend for a further year.
            Mkhitaryan made his debut in a 2–0 victory in a pre-season match against Wigan 
            Athletic on 15 July 2016. On 7 August 2016, he made his competitive debut as a
             stoppage-time substitute in a 2–1 victory against Leicester City in the 2016 FA 
            Community Shield. He became the first Armenian to play in the Premier League on 
            14 August 2016 when he came on as a 75th-minute substitute for Juan Mata in a 3–1 away
             victory against Bournemouth.
        </p>
    </div>
    <div style="background-image: url('../../images/mkhitaryan.jpg');
    background-repeat: no-repeat ;
    background-size: contain;
    position: absolute;
    float: left;
    clear:left;
    top: 175px;
    right: 400px;
    height: 720px;
    width: 470px;
    ">
    </div>




</div>
